*{
    padding: 0;
    margin: 0;
}
body{
	
}


header{
    background-color: gold;
	padding: 2em;
}
#logo{
    width: 20%;

}
nav{
    float: right;
    margin: 20px 10px 0 0;
}
#menu{
    display: inline-flex;
	
}
#menu li{
    list-style-type: none;
	position:relative;
	float:right;
	margin:0;
	padding: 0.5em;
}
#menu li a{
	display: block;
    text-decoration: none;
    background-color: indigo;
    color: white;
    border-radius: 5px;
    margin: 10px;
	
}
li a, .juegos {
  text-align: center;
  
}

li a:hover, .desplegable:hover .juegos {
  background-color: red;
}

li.desplegable {
  display: inline-block;
}

.contenido-desplegable {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.contenido-desplegable a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.contenido-desplegable a:hover {background-color: #f1f1f1;}

.desplegable:hover .contenido-desplegable {
  display: block;
}

section{
	padding: 3em;
}
article{
	margin: 1em;
	text-align: justify;
	font-size: 125%;
}
.contenedor-display{
	display:block;
}
.mySlides {
	
	height: 20em;
	width:	50%;
	margin: auto;
}
.slideIzquierdo{
	float: left;
}
.slideDerecho{
	float: right;
}
.slideIzquierdo:hover , .slideDerecho:hover{
		color: 	#000 !important;
		background-color: #ccc !important;
}


