*{
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: arial;
	
}

header{
    background-color: gold;
	background-image: url:("../imagenes/dado.jpg")
	clear : both;
}
#logo{
    width: 15%;

}
h1{
	text-align: right;
	padding: 4em 0.5em 0 24em;
    position: absolute;

}
nav{
    float: right;
    margin: 0;
	
	display: block;
	background-color:indigo;
	width:100%
}
#menu{
    display: inline-flex;
	margin:auto;
}
#menu li{
	list-style-type: none;
	
	position:relative;
	float:right;
	margin:0;
	padding: 0.5em;
}
#menu li a{
	display: block;
    text-decoration: none;
	color: white;
    margin: 10px;
	padding: 3px;
	
	
}
li a, .juegos {
  text-align: center;
  
}

li a:hover, #desplegable:hover .juegos {
  font-size: 1.5em;
  font-weight: bold;
}


li#desplegable {
  display: inline-block;
}
.active{
	background:black;
}
.contenido-desplegable {
  display: none;
  position: absolute;
  background-color: indigo;
}
.contenido-desplegable li{/*Antes se han configurado los li mediante un id, por lo que tendrá preferencia ante una configuracion mediante una clase, de ahi el !important*/
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
}
.contenido-desplegable a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  
}


#desplegable:hover .contenido-desplegable {
  display: block;
}

section{
	margin: 0.5em;
	padding: 3em;
}
article{
	margin: 1em;
	text-align: justify;
	font-size: 125%;
}
p{
	/*sangrado primera linea*/
	text-indent: 40px;
}
a{
	text-decoration: none;
	color: black;
}
.contenedor-display{
	display:block;
	margin: 0.5em auto;
	position:relative;
	width:50%
}
.mySlides {
	
	height: auto;
	width:	100%;
	margin: auto;
}
.slideIzquierdo{
	position:absolute;
	top: 50%;
	
	left: 0;
	
	border:none;
	display:inline-block;
	padding:8px 16px;
	overflow:hidden;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	white-space:nowrap
}
.slideDerecho{
	position:absolute;
	top: 50%;
	
	right: 0em;
	border:none;
	display:inline-block;
	padding:8px 16px;
	overflow:hidden;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	white-space:nowrap
}
.slideIzquierdo:hover , .slideDerecho:hover{
		color: 	#000 !important;
		background-color: #ccc !important;
}


.fotos-juegos-de-mesa{
	width: 30%;
	margin: 5px;
}

.seccion-descripcion-juegos-de-mesa{
	display: flex;
	flex-direction: column;

}
form{
	margin: 0 15em;
}
fieldset{
	padding: 0.5em;
}
iframe{
	position : fixed;
	right : 3%;
	top : 39.5%;
	float : right;
	width : 15em;
	height : 23em;
	padding : 0.5em;
	margin : 0.5em auto;
}

footer{
	/*El clear both sirve para que no afecte el float en este párrafo, así no se mete el aside en el footer*/
	clear : both;
	margin: 1em 0;
	padding: 1em;
}
.fotos_redes{
	width: 1.5em;
	float: right;
	margin: 0.1em;
}