*{
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: arial;
	
}

header{
    background-color: gold;
	
}
#logo{
    width: 15%;
}
h1{
	text-align: right;
	padding: 4em 0.5em 0 30em;
    position: absolute;
}
nav{
    float: right;
    margin: 0;
	display: block;
	background-color:indigo;
	width: 100%;
	height: 60px;
}
#menu{
    display: inline-flex;
	margin:auto;
}
#menu li{
	list-style-type: none;
	position:relative;
	float:right;
	margin:0;
	padding: 0.5em;
}
#menu li a{
	display: block;
    text-decoration: none;
	color: white;
    margin: 10px;
	padding: 3px;
	height: 10%;
	
}
li a, .juegos {
  text-align: center;
  
}

li a:hover, #desplegable:hover .juegos {
  /*font-size: 1.5em;*/
  font-weight: bold;
}


li#desplegable {
  display: inline-block;
}
.active{
	background:black;
}
.contenido-desplegable {
  display: none;
  position: absolute;
  background-color: indigo;
  top: 60px;
  left: 0;
}
.contenido-desplegable li{/*Antes se han configurado los li mediante un id, por lo que tendrá preferencia ante una configuracion mediante una clase, de ahi el !important*/
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
}
.contenido-desplegable a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  height: 100%;
}

#desplegable:hover .contenido-desplegable {
  display: block;
}

section{
	padding: 3em;
}
article{
	margin: 1em;
	text-align: justify;
	font-size: 125%;
}
p{
	/*sangrado primera linea*/
	text-indent: 40px;
}
a{
	text-decoration: none;
	color: black;
}
.contenedor-display{
	display:block;
}
.mySlides {
	
	height: 20em;
	width:	50%;
	margin: auto;
}
.slideIzquierdo{
	position:absolute;
	top: 50em;
	left: 0.5em;
	
	border:none;
	display:inline-block;
	padding:8px 16px;
	overflow:hidden;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	white-space:nowrap
}
.slideDerecho{
	position:absolute;
	top: 50em;
	right: 0.5em;
	border:none;
	display:inline-block;
	padding:8px 16px;
	overflow:hidden;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	white-space:nowrap
}
.slideIzquierdo:hover , .slideDerecho:hover{
		color: 	#000 !important;
		background-color: #ccc !important;
}
footer{
	margin: 1em 0;
	padding: 1em;
}

.fotos-juegos-de-mesa{
	width: 30%;
	margin: 5px;
}

.seccion-descripcion-juegos-de-mesa{
	display: flex;
	flex-direction: column;

}
form{
	margin: 30px 15em;
}
fieldset{
	padding: 5px;
}

.div_formulario{
	padding: 5px;
}

.div_formulario p{
	padding: 5px;
}
.div_formulario p label{
	font-weight: bold;
}

.fotos_redes{
	width: 30px;
	float: right;
}

.boton_form{
	background-color: indigo;
	border: none;
  	color: white;
  	padding: 1em 1em;
  	text-align: center;
  	text-decoration: none;
}